<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>Pokedex - {{ pokemon.name | titlecase }} #{{pokemon.idFormatted}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content">
  <div class="pokemon-detail-wrapper" [style.background]="getTypeColor(pokemon.types[0])">    
    <div class="pokemon-detail-header">
      <p>{{ pokemon.name | titlecase }}</p>
      <img [src]="pokemon.image" alt="{{ pokemon.name }}" class="pokemon-image" />
    </div>

    <div class="pokemon-detail-content">
      <p>
        asdadasdasdasdadsadsdasd
      </p>
    </div>
  </div>
</ion-content>
