#header {
  --background: #a50000;
}

#poke-card {
  width: 100%;
  margin: 0 auto;
  --background: transparent;
  box-shadow: none;
  padding-bottom: 10px;
  border: none;
}

.pokemon-card-wrapper {
  position: relative;
  padding-top: 50px; /* reserva espaço no topo para a imagem */
}


.poke-card-content {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  padding-top: 20px;
}


.ion-content {
  --background: #fff;
}

.pokemon-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
  color: #fff;
}

.pokemon-image {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  img {
    width: 100%;
    height: auto;
    max-width: 120px;
    max-height: 120px;
  }
}

.pokemon-id {
  font-size: 0.8rem;
  color: #fff;
  margin-top: 10px;
}